.body {
  padding: 0;
  margin: auto;
}
.head{
display: flex;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}
img {
  height: 100px;
  width: 100px;
}
.menu{
    display: flex;
    align-items: center;
    
}
